<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoyohan.tuxiaocao" >
    <application>
        <activity
            android:screenOrientation="portrait"
            android:name="com.yoyohan.tuxiaocao.TuXiaoCaoActivity"
            android:theme="@style/TuXiaoCao">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
